@tailwind base;
@tailwind components;
@tailwind utilities;

.seperator-default {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
}
.seperator-default::before,
.seperator-default::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0 8px;
}
